::-webkit-scrollbar{
    width: 10px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #958cce;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f5f5f5;
}
.main{
    width: 60%;
    height: 74vh;
    overflow-y: scroll;
    background-color: #EBECF1;
    /* border: 2px black solid; */
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}
.posts{
    display: flex;
    justify-items: center;
    margin: 0px 10px 0 10px;
}
.posts p{
    margin-left: 5px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}
.main img{
    width: 420px;
    height: 230px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: transform 0.5s ease-in-out;
}
.main img:hover{
    transform: scale(1.05);
}